.app__footer {
  width: 100%;
  height: 6rem;

  display: flex;
  align-items: center;
  user-select: none;
}

.footer__counter {
  height: 100%;
  width: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 900;
}

.footer__filter-form {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.footer__filter-ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__filter-input {
  display: none;
}

.footer__filter-label {
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background-color: var(--color-semi-white);
  box-shadow: var(--shadow-all);

  cursor: pointer;
  transition: all 0.3s;
}

.footer__filter-label:hover {
  transform: scale(1.1);
}

.footer__filter-input:checked + .footer__filter-label {
  background-color: var(--color-yellow);
}
