@import url(../css/header.css);
@import url(../css//todoList.css);
@import url(../css//footer.css);

@font-face {
  font-family: "SkyBori";
  src: url("../Font/Skybori_ttf.woff");
}

:root {
  /* color */
  --color-black: #434a54;
  --color-light-red: #ed5565;
  --color-yellow: #ffce54;
  --color-green: #a0d468;
  --color-semi-white: #e6e9ed;
  --color-white: #fff;
  --color-semi-grey: #ccd1d9;
  --color-dark-grey: #656d78;

  /* shdow */
  --shadow-all: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

  /* radius */
  --radius-semi-large: 12px;
  --radius-medium: 8px;
  --radius-small: 4px;

  /* font - size */
  --fontsize-big: 2.4rem;
  --fontsize-large: 2rem;
  --fontsize-semi-large: 1.6rem;
  --fontsize-medium: 1.4rem;
}

html,
body,
header,
h1,
form,
input,
ul,
li,
div,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "SkyBori";
  outline: none;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
}

#app {
  width: 50rem;
  border-radius: 12px;
  box-shadow: var(--shadow-all);
}
