@import url(../css/header.css);
@import url(../css//todoList.css);
@import url(../css//footer.css);

@font-face {
  font-family: "SkyBori";
  src: url("../Font/Skybori_ttf.woff");
}

:root {
  /* color */
  --color-light-red: #ed5565;
  --color-yellow: #ffce54;
  --color-green: #a0d468;
  --color-semi-white: #e6e9ed;
  --color-white: #fff;
  --color-semi-grey: #ccd1d9;

  --shadow-all: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

html,
body,
header,
h1,
form,
input,
ul,
li,
div,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "SkyBori";
  outline: none;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
}

#app {
  width: 50rem;
  border-radius: 12px;
  box-shadow: var(--shadow-all);
}
